body {
  margin: 0px;
}

.image-wrapper {
  height: 105px;
}

.top-logo {
  padding: 6px;
}

.top-links-wrapper {
  background-color: #404e5c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
}
.links-wrapper {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}

.link {
  /* background-color: #dcdcdd; */
  color: #f2f3f4;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  /* border: solid 2px black; */
  text-align: center;
  padding: 15px;
  width: 65px;
}
.link:hover {
  cursor: pointer;
  color: red;
  font-size: 30px;
}

.Portfolio-Wrapper {
  background-color: #dbdee0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.portfolio-item-wrapper {
  width: 400px;
  height: 550px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 7px black;
  background-color: white;
  object-fit: cover;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custName {
  margin-top: 15px;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.profile-pics {
  border: solid 1px black;
  border-radius: 150px;
  width: 120px;
  height: 120px;
  margin-top: 15px;
}
.about-user {
  display: flex;
  justify-content: center;
  border: solid 1px black;
  width: 75%;
  padding: 10px;
  border-radius: 5px;
}

.see-more {
  background-color: #dbdee0;
  margin-top: 40px;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
}

.see-more:hover {
  cursor: pointer;
  background-color: rosybrown;
}
