body {
  margin: 0px;
  color: #404e5c;
}

.image-wrapper {
  height: 105px;
}

.top-logo {
  padding-left: 8px;
  padding-top: 3px;
}

.top-links-wrapper {
  background-color: #404e5c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
}
.links-wrapper {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}

.link {
  /* background-color: #dcdcdd; */
  color: #f2f3f4;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 65px;
  transition: 0.5s;
}
.link:hover {
  cursor: pointer;
  color: #ff5666;
  letter-spacing: 1px;
}

.Portfolio-Wrapper {
  background-color: #dbdee0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.portfolio-item-wrapper {
  width: 350px;
  height: 390px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 7px black;
  background-color: white;
  object-fit: cover;
  /* margin-top: 30px; */
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.custName {
  margin-top: 15px;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.custName h2 {
  margin: 0px;
}

.profile-pics {
  border: solid 1px black;
  border-radius: 150px;
  width: 120px;
  height: 120px;
  margin-top: 15px;
}
.about-user {
  display: flex;
  color: #6a7783;
  justify-content: center;
  width: 75%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.about-user h3 {
  margin: 0px;
}

.see-more {
  background-color: #404e5c;
  color: #f2f3f4;
  margin-top: 10px;
  margin-bottom: 10px;

  border: transparent solid;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
}

.see-more:hover {
  cursor: pointer;
  background-color: #6a7783;
  color: #f2f3f4;
}
